<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="src/main/resources/Task1" />
    <appender name="TASK1_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 10 days' worth of history capped at 5MB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="src/main/resources/Task2" />
    <appender name="TASK2_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 10 days' worth of history capped at 5MB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_FILE" value="src/main/resources/Task3" />
    <appender name="TASK3_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 10 days' worth of history capped at 5MB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>5MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="igushkin.homeworks.lesson11.task1" additivity="false" >
        <level value="info" />
        <appender-ref ref="TASK1_LOG_FILE"/>
    </logger>

    <logger name="igushkin.homeworks.lesson11.task2" additivity="false" >
        <level value="info" />
        <appender-ref ref="TASK2_LOG_FILE"/>
    </logger>

    <logger name="igushkin.homeworks.lesson11.task3" additivity="false" >
        <level value="info" />
        <appender-ref ref="TASK3_LOG_FILE"/>
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>